beautifulsoup4==4.9.0
certifi==2023.7.22
chardet==3.0.4
comtypes==1.1.7
idna==3.7
inflect==4.1.0
jaraco.itertools==5.0.0
more-itertools==8.2.0
PySimpleGUI==4.18.2
pyttsx3==2.87
pywin32==301
requests==2.31.0
six==1.14.0
soupsieve==2.0
SpeechRecognition==3.8.1
urllib3==1.26.18
wikipedia==1.4.0
wolframalpha==4.0.0
xmltodict==0.12.0
